---
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        Learn more about my projects on
        <Social platform="twitter" username="mbgreen" />
        <Social platform="github" username="mbgreen" />
        <Social platform="linkedin" username="mbgreen" />
    </p>
</footer>
